* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    background: #121212;
    height: 100vh;
    padding: 24px;
}

.layout {
    display: grid;
    grid-template-columns: 400px 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    height: calc(100vh - 48px);
}

.card {
    border-radius: 18px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.sidebar {
    background: #232b3a;
}

.header,
.body {
    background: #1f2735;
}

.card-title {
    color: white;
    font-size: 24px;
    margin-bottom: 10px;
    line-height: 1.2;
}

.content {
    flex: 1;
    overflow: auto;
    color: #e4e4e4;
}
.content-big {
    flex: none;
    overflow: auto;
    color: #e4e4e4;
}

.profile-photo {
    width: 120px;
    height: 120px;
    overflow: hidden;
    border-radius: 50%;
    background: #5c6a82;
    margin: 0 auto 20px;
    border: 4px solid #fff;
}

.profile-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info h3 {
    margin-bottom: 15px;
    text-align: center;
}

.info p {
    margin: 8px 0;
    font-size: 14px;
}

.about {
    margin-top: 25px;
}

.about h4 {
    margin-bottom: 10px;
    font-size: 18px;
}

.about p {
    text-align: justify;
    line-height: 1.5;
}

h3 {
    color: white;
    margin-bottom: 10px;
}

ul {
    margin-left: 20px;
    margin-top: 10px;
}

li {
    margin-bottom: 8px;
}

p {
    line-height: 1.5;
    width: 325px;
}

.links {
    color: #e4e4e4;
    text-decoration: underline;
    font-size: 14px;
}